[submodule "stow/.tmux/plugins/tpm"]
	path = stow/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "stow/.tmux/plugins/tmux-resurrect"]
	path = stow/.tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect
[submodule "stow/.tmux/plugins/tmux-sensible"]
	path = stow/.tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible
[submodule "stow/.tmux/plugins/tmux-yank"]
	path = stow/.tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank
